<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<footer>
		<h1>푸터영역</h1>
		<section class="view-size flex between col-center">
			<img class="head-logo" src="/img/team-logo.png">
			<div class="member">
				<p>팀장</p>
				<p>한재훈</p>
				<p>TEL. 000-0000-0000</p>
				<p>aaaaaaa@aaaa.com</p>
			</div>
			<div class="member">
				<p>부팀장</p>
				<p>고형철</p>
				<p>TEL. 010-2093-5129</p>
				<p>jangdol012@naver.com</p>
			</div>
			<div class="member">
				<p>서기</p>
				<p>조영진</p>
				<p>TEL. 000-0000-0000</p>
				<p>aaaaaaa@aaaa.com</p>
			</div>
			<div class="member">
				<p>타임키퍼</p>
				<p>조영훈</p>
				<p>TEL. 000-0000-0000</p>
				<p>aaaaaaa@aaaa.com</p>
			</div>
			<div class="member">
				<p>자료수집</p>
				<p>남원호</p>
				<p>TEL. 000-0000-0000</p>
				<p>aaaaaaa@aaaa.com</p>
			</div>
		</section>
	</footer>
</html>