<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<header>
		<h1>헤더영역</h1>
		<section class="view-size">
			<div class="flex between">
				<a href="/"><img class="head-logo" src="/img/team-logo.png"></a>
				<div class="flex between head-cate">
					<a href="/town" class="cate-info flex col-center">
						<p>동네모임</p>
					</a>
					<a href="/anabada" class="cate-info flex col-center">
						<p>아나바다</p>
					</a>
					<a href="/notice" class="cate-info flex col-center">
						<p>공지사항</p>
					</a>
				</div>
				<div class="flex between col-center head-user">
					<p><a href="#">로그인</a></p>
					<span></span>
					<p><a href="#">회원가입</a></p>
				</div>
			</div>
		</section>
	</header>
</html>