@charset "UTF-8";
.town-title{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.town-info-title{
	margin-top: 30px;
	font-size: 1.3rem;
	font-weight: bold;
}
.town-info p{
	width:100px;
}
.town-info-content{
	margin-top: 10px;
	font-size: 1.2rem;
}
.town-date{
	margin-top: 20px;
}
.town-date-title{
	margin-right: 10px;
}
.town-date-info{
	margin-right: 20px;
}
.read-count>:nth-child(1){
	margin-right: 10px;
}
.line{
	width:100%;
	height:2px;
	background-color: #222;
	margin:40px 0;
}
.town-btn >:nth-child(1){
	margin-right: 10px;
}
.defalut{display : block;}
.edit{display:none;}
.btn-cancel, .btn-edit-done{
	width:70px;
}
.span-margin{
	margin:0 5px;
}
.update{
	display: none;
}
.town-btn button{
	width:80px;
}
.update .town-info input{
	width:91px;
	height:20px;
}
.go-list{
	width:100%;
	display: block;
	text-align: right;
	margin-top: 40px;
}
.update-title p{
	font-size: 1.5rem;
	margin-right: 20px;
}