<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="/css/notice/notice.css">
	</head>
	<body>
		<main class="view-size">
			<section>
			<div class="flex title">
				<div>공지사항</div>
				<input type="text" placeholder="검색어를 입력해주세요"></input>
			</div>
		</section>
		<section>
			<div class="tabarea flex" style="justify-content: space-between;">
				<a>전체</a>
				<a class="tabcenter">공지</a>
				<a class="event">이벤트</a>
			</div>
		</section>
		</main>
	</body>
</html>