<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/notice/notice.css">
	<link rel="stylesheet" href="/css/common/board.css">
	<style th:inline="text">
		/* Thymeleaf를 통해 동적으로 CSS를 적용하는 예제 */
		.highlighted {
			background-color: #2EA652;
			border-radius: 50%;
		}
		.searchbtn{
			cursor: pointer;
		}
	</style>
</head>

<body>
	<main class="view-size">
		<section>
			<div class="flex title">
				<a href="/notice"><div style="font-size: 2rem; font-weight: bold;">공지사항</div></a>
				<form action="/notice/search" method="get">
					<div class="search-area">
						<input class="search" type="text" name="keyword" placeholder="검색어를 입력해주세요"></input>
						<button class="searchbtn"><img src="/img/notice/search.png"></button>
					</div>
				</form>
			</div>
		</section>
		<section>
			<div class="tabarea flex col-center" style="justify-content: space-between;">
				<a class="first" href="/notice">전체</a>
				<a class="tabcenter" href="/notice-notice">공지</a>
				<span></span>
				<a class="event" href="/notice-event">이벤트</a>
			</div>
		</section>
		<section>
			<div class="noticelist" th:each="notice : ${page.dtoList}">
				<ul>
					<li>
						<a class="flex" th:href="@{'/notice-detail/' + ${notice.no}}">
							<span class="noticespan" th:text="${notice.type} ? 이벤트 : 공지"
								th:id="'notice_' + ${notice.type}"></span>
							<th:block th:if="${notice.end} lt ${#temporals.createNow()}">
								<p class="listtitle cancel-line" th:text="${notice.title}" th:if="${notice.end}"></p>
							</th:block>
							<th:block th:if="${notice.end} gt ${#temporals.createNow()}">
							    <p class="listtitle" th:text="${notice.title}" th:if="${notice.end}"></p>
							</th:block>
							<div class="flex count">
								<img src="/img/notice/eye.png">
								<p th:text="${notice.readCount}"></p>
							</div>
							<div th:text="${#temporals.format(notice.start, 'yyyy.MM.dd')}"></div>
						</a>
					</li>
				</ul>
			</div>
			<ul class="page-list flex center">
				<li class="page-item pageNum page-prev" th:if="${page.prev}">
					<a class="page-link" th:href="@{/anabada(page=${page.start -1})}" tabindex="-1">
						<img src="/img/common/left.svg">
					</a>
					<span></span>
				</li>
				<th:block th:each="page:${page.pageList}">
					<li>
						<div class="pageNum"
							th:class="${#strings.equals(param.page, page) ? 'highlighted' : ''} + ${param.page == null && page == 1? 'highlighted' : ''}">
							<a th:href="@{/notice(page=${page})}">
								<p th:text="${page}"></p>
							</a>
						</div>
					</li>
					<span></span>
				</th:block>
				<l1 class="page-item pageNum page-next" th:if="${page.next}">
					<a class="page-link" th:href="@{/anabada(page=${page.end+1})}">
						<img src="/img/common/right.svg">
					</a>
				</l1>
			</ul>
		</section>
		<section class="add-area">
			<a href="/add-notice"><button class="add-btn"><span>글쓰기</span></button></a>
		</section>
	</main>
</body>

</html>