<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/notice/notice-detail.css">
	<link rel="stylesheet" href="/css/common/board.css">
	<script src="/js/notice/notice-detail.js"></script>
</head>

<body>
	<main class="view-size" th:each="detail : ${DetailList}">
		<section>
			<div class="title">
				<a href="/notice">
					<div style="font-size: 2rem; font-weight: bold;">공지사항</div>
				</a>
			</div>
			<div class="flex">
				<div class="titlearea">
					<div class="flex noticetitle">
						<div class="category" th:text="${detail.type} ? 이벤트 : 공지" th:id="'cate' + ${detail.type}"></div>
						<div style="padding-left: 10px;" th:text="${detail.title}"></div><br>
					</div>
					<div th:text="${#temporals.format(detail.start, 'yyyy-MM-dd hh:mm')}" style="font-size: 0.9rem;">날짜
					</div>
				</div>
				<div class="writer">
					<div class="flex center">
						작성자 :&nbsp;<span sec:authentication="principal.empName"></span>
					</div>
					<div class="flex center">
						조회수 :&nbsp;<span th:text="${detail.readCount}"></span>
					</div>
					<div class="flex center" style="font-size: 0.9rem;">
						최종 수정 :&nbsp;<span th:text="${#temporals.format(detail.UpdatedAt, 'yyyy-MM-dd hh:mm')}"></span>
					</div>
					<div class="flex center"
						style="border-bottom: 1px solid #eee; font-size: 0.9rem;">
						공지 종료일 :&nbsp;<span th:text="${#temporals.format(detail.end, 'yyyy-MM-dd hh:mm')}"></span>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="content" th:utext="${detail.content}">
				dsadsa
			</div>
			<div class="last"></div>
		</section>
		<section class="flex center">
			<a th:href="@{'/notice-edit/' + ${detail.no}}"><button type="submit" class="add-btn"
					style="margin-right: 10px;"><span>수정</span></button></a>
			<form th:action="@{'/notice-detail/' + ${detail.no}}" method="post">
				<input type="hidden" name="_method" value="delete">
				<button type="submit" class="add-btn" style="margin-left: 10px;"><span>삭제</span></button>
			</form>
		</section>
	</main>
</body>

</html>