<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
<head>
	<link rel="stylesheet" href="/css/common/board.css">
	<link rel="stylesheet" href="/css/common/add-board.css">
	<link rel="stylesheet" href="/css/town/add-town.css">
	<script src="/js/summernote/summernote-lite.js"></script>
	<script src="/js/summernote/summernote-ko-KR.js"></script>
	<script src="/js/summernote/my-summernote.js"></script>
	<link rel="stylesheet" href="/js/summernote/summernote-lite.css">
	<script src="/js/town/town.js"></script>
</head>
<body>
	<main class="view-size">
		<h1>동네모임등록</h1>
		<p style="font-size: 2rem; font-weight: bold;">동네모임등록</p>
		<form class="add-wrap" action="/add-town" method="post">
			<table>
				<tr>
					<th>
						<p>모임명</p>
					</th>
					<td>
						<input type="text" name="title" placeholder="제목을 입력해주세요">
					</td>
				</tr>
				<tr>
					<th>
						<p>대표자</p>
					</th>
					<td>
						<input type="text" name="leader" placeholder="대표자를 입력해주세요">
					</td>
				</tr>
				<tr>
					<th>
						<p>연락처</p>
					</th>
					<td>
						<input type="text" name="phone" placeholder="연락처를 입력해주세요">
					</td>
				</tr>
				<tr>
					<th>
						<p>활동구역</p>
					</th>
					<td>
						<input type="text" name="area" placeholder="활동구역 입력해주세요">
					</td>
				</tr>
				<tr>
					<th>
						<p>모임상세설명</p>
					</th>
					<td>
						<textarea id="summernote" name="content"></textarea>
					</td>
				</tr>
			</table>
			<section class="add-area">
				<button class="add-btn"><span>등록하기</span></button>
			</section>
		</form>
		<script>
		/**
		*이미지 파일 업로드
		*/
		function uploadSummernoteImageFile(file, editor) {
				
				var formData = new FormData();
				formData.append("goodsImg", file);
				console.log("uploadSummernoteImageFile실행")
				$.ajax({
					data: formData,
					type: "POST",
					url: "/files-temp-upload",
					contentType: false,
					processData: false,
					success: function (result) {
						//항상 업로드된 파일의 url이 있어야 한다.
						$(editor).summernote('insertImage', result.url);
						
						var tempkey = $("<input type='hidden' name='tempKey'>").val(result.bucketKey);
						var orgname = $("<input type='hidden' name='orgName'>").val(result.orgName);
						$(editor).after(tempkey, orgname);    
					}
				});
			}
		</script>
		
	</main>
</body>
</html>