<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/common/board.css">
</head>
<body>
	<main class="view-size">
		<h1>동네모임게시판</h1>
		<p style="font-size: 2rem; font-weight: bold;">동네모임게시판</p>
		<section class="board-box">
			<div class="flex between col-center board-wrap board-wrap-title">
				<p class="no">번호</p>
				<p class="title">모임명</p>
				<p class="view-count">장소</p>
				<p class="view-count">조회수</p>
				<p class="date">수정일</p>
			</div>
			<a th:href="@{/detail-town/{pk}(pk=${town.no})}" class="flex between col-center board-wrap board-wrap-content" th:each="town :${list}">
				<p class="no" th:text="${town.no}">번호</p>
				<p class="title" th:text="${town.title}">모임명</p>
				<p class="view-count" th:text="${town.area}">장소</p>
				<p class="view-count" th:text="${town.readCount}">조회수</p>
				<p class="date" th:text="${#temporals.format(town.updatedAt, 'yyyy-MM-dd HH:mm:ss')}">수정일</p>
			</a>
		</section>
		<section class="add-area">
			<a href="/add-town"><button class="add-btn"><span>글쓰기</span></button></a>
		</section>
	</main>
</body>
</html>