<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/common/board.css">
<style th:inline="text">
    /* Thymeleaf를 통해 동적으로 CSS를 적용하는 예제 */
    .highlighted {
        background-color: #2EA652;
        border-radius: 50%;
    }
</style>
</head>
<body>
	<main class="view-size">
		<h1>동네모임게시판</h1>
		<p style="font-size: 2rem; font-weight: bold;">동네모임게시판</p>
		<section class="board-box">
			<div class="flex between col-center board-wrap board-wrap-title">
				<p class="no">번호</p>
				<p class="title">모임명</p>
				<p class="view-count">장소</p>
				<p class="view-count">조회수</p>
				<p class="date">작성일</p>
			</div>
			<a th:href="@{/detail-town/{pk}(pk=${town.no})}" class="flex between col-center board-wrap board-wrap-content" th:each="town :${result.dtoList}">
				<p class="no" th:text="${town.no}">번호</p>
				<p class="title" th:text="${town.title}">모임명</p>
				<p class="view-count" th:text="${town.area}">장소</p>
				<p class="view-count" th:text="${town.readCount}">조회수</p>
				<p class="date" th:text="${#temporals.format(town.createdAt, 'yyyy-MM-dd') == #temporals.format(localTime, 'yyyy-MM-dd')} ? 
								${#temporals.format(town.createdAt, 'HH:mm:ss')} : ${#temporals.format(town.createdAt, 'yyyy-MM-dd')}">수정일</p>
			</a>
		</section>
		<ul class="page-list flex center">
			<li class="page-item pageNum page-prev" th:if="${result.prev}">
				<a class="page-link" th:href="@{/town(page=${result.start -1})}" tabindex="-1">
		  	      <img src="/img/common/left.svg">
		   	    </a>
		   	    <span></span>
			</li>
			<th:block th:each="page:${result.pageList}">
				<li>
					<div class="pageNum" th:class="${#strings.equals(param.page, page) ? 'highlighted' : ''} + 
											${param.page == null && page == 1? 'highlighted' : ''}">
			        	<a th:href="@{/town(page=${page})}">
							<p th:text="${page}"></p>
						</a> 
					</div>
				</li>
				<span></span>
			</th:block>
			<l1 class="page-item pageNum page-next" th:if="${result.next}">
				<a class="page-link" th:href="@{/town(page=${result.end+1})}">
		        	<img src="/img/common/right.svg">
		       	</a>
			</l1>
		</ul>
		<section class="add-area">
			<a href="/add-town"><button class="add-btn"><span>글쓰기</span></button></a>
		</section>
	</main>
</body>
</html>