<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<!--챗봇 연결 시 날짜 표시-->
	<div id="chatbot-date" class="flex center-1" th:if="${message.today}" th:text="${message.today}">오늘 날짜</div>
	
	<!--챗봇 메시지-->
	<div class="chatbot-message-wrap message-wrap flex">
		
		
		<div class="chatbot-profile-wrap flex center-1 center-2">
			<img src="/img/chatbot/chatbot-bot-profile.png" class="chatbot-bot-profile">
		</div>
		
		<!--챗봇 메시지 방향 표시-->
		<div class="message-direction-chatbot message-direction"></div>
		
		<div class="chatbot-message">
			
			<div class="chatbot-message-box message-box">
				<p th:utext="${message.responseDTO.content}"></p>
				<p>원하시는 영화 정보를 선택해주세요.</p>
				<div class="flex center-1 center-2">
					<button class="daily-box-office-button" onclick="insertDailyBoxOffice()">일간 박스오피스</button>
					<button class="weekly-box-office-button" onclick="insertWeeklyBoxOffice()">주간 박스오피스</button>
				</div>
			</div>
			
			<!--챗봇 메시지 작성 시간-->
			<div class="chatbot-time">
				<span th:text="${message.time}">메시지 작성 시간</span>
			</div>
		</div>
	</div>
</html>