<!DOCTYPE html>
<html>
	<button id="dailyboxOffice" class="movie-btn" onclick="dailyBoxOfficeBtn()">일간 박스오피스</button>
	<button id="weeklyboxOffice" class="movie-btn" onclick="weeklyBoxOfficeBtn()">주간 박스오피스</button>
	<button id="movie-detail" class="movie-btn" onclick="movieDetailBtn()">영화 상세 정보</button>
	<input type="hidden" id="movie-code" value="20236180">
	
	<div id="weeklyBoxOffice-result">
		
	</div>
	
	<div id="dailyBoxOffice-result">
		
	</div>
	
	<div id="movie-detail-result">
		
	</div>
	
	<button>
		<a href="/movie">영화</a>
	</button>
</html>