<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
<head>
	<link rel="stylesheet" href="/css/common/board.css">
	<link rel="stylesheet" href="/css/common/add-board.css">
	<script src="/js/summernote/summernote-lite.js"></script>
	<script src="/js/summernote/summernote-ko-KR.js"></script>
	<script src="/js/summernote/my-summernote.js"></script>
	<link rel="stylesheet" href="/js/summernote/summernote-lite.css">
</head>
<body>
	<main class="view-size">
		<h1>아나바다등록</h1>
		<p style="font-size: 2rem; font-weight: bold;">아나바다등록</p>
		<form class="add-wrap" action="/add-anabada" method="post">
			<table>
				<tr>
					<th>
						<p>제목</p>
					</th>
					<td colspan="3">
						<input type="text" name="title" placeholder="제목을 입력해주세요">
					</td>
				</tr>
				<tr>
					<th>
						<p>주최자</p>
					</th>
					<td colspan="3"> 
						<input type="text" name="writer" placeholder="주최자를 입력해주세요">
					</td>
				</tr>
				<tr>
					<th>
						<p>연락처</p>
					</th>
					<td colspan="3">
						<input type="text" name="phone" placeholder="연락처를 입력해주세요">
					</td>
				</tr>
				<tr>
					<th>
						<p>장소</p>
					</th>
					<td>
						<input type="text" name="area" placeholder="장소를 입력해주세요">
					</td>
					<th >
						<p>상태</p>
					</th>
					<td>
						<select name="state">
							<option value="진행중">진행중</option>
							<option value="대기중">대기중</option>
						</select>
					</td>
				</tr>
				<tr>
					
				</tr>
				<tr>
					<th>
						<p>상세설명</p>
					</th>
					<td colspan="3">
						<textarea id="summernote" name="content"></textarea>
					</td>
				</tr>
			</table>
			<section class="add-area">
				<button class="add-btn"><span>등록하기</span></button>
			</section>
		</form>
		<script>
		/**
		*이미지 파일 업로드
		*/
		function uploadSummernoteImageFile(file, editor) {
				
				var formData = new FormData();
				formData.append("goodsImg", file);
				
				console.log("uploadSummernoteImageFile실행")
				
				$.ajax({
					data: formData,
					type: "POST",
					url: "/files-temp-upload-anabada",
					contentType: false,
					processData: false,
					success: function (result) {
						//항상 업로드된 파일의 url이 있어야 한다.
						$(editor).summernote('insertImage', result.url);
						
						var tempkey = $("<input type='hidden' name='tempKey'>").val(result.bucketKey);
						var orgname = $("<input type='hidden' name='orgName'>").val(result.orgName);
						$(editor).after(tempkey, orgname);    
					}
				});
			}
		</script>
	</main>
</body>
</html>