<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/common/board.css">
<link rel="stylesheet" href="/css/anabada/anabada.css">
</head>
<body>
	<main class="view-size">
		<h1>아나바다게시판</h1>
		<p style="font-size: 2rem; font-weight: bold;">아나바다게시판</p>
		<section class="board-box">
			<div class="flex between col-center board-wrap board-wrap-title">
				<p class="no">번호</p>
				<p class="situation">상태</p>
				<p class="title">제목</p>
				<p class="view-count">조회수</p>
				<p class="date">수정일</p>
			</div>
			<a href="#" class="flex between col-center board-wrap board-wrap-content">
				<p class="no">번호</p>
				<p class="situation">상태</p>
				<p class="title">제목</p>
				<p class="view-count">조회수</p>
				<p class="date">수정일</p>
			</a>
		</section>
		<section class="add-area">
			<a href="/add-anabada"><button class="add-btn"><span>글쓰기</span></button></a>
		</section>
	</main>
</body>
</html>